*{
    margin:0;
    padding:0;
}

header{
    background-color: #7ea0b7;
    padding:1em;
}

header img{
    width:3%;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Syne', sans-serif;
}

header nav a{
    text-decoration: none;
    color:white;
}

header nav a:hover{
    background-color: #a9cef4;
    color:black;
    padding:0em 1em;
}

#hero{
    background-image: url("../img/phones.gif");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:93vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

h1{
    font-size: 4em;
    font-family: 'Roboto Slab', serif;

    animation: blinker 3s cubic-bezier(0.42, 0, 0.74, 0.19) infinite;
}

#hero h2{
    font-family: 'Syne', sans-serif;
}

#features, #cta, #formulario{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0em 4em;
    background-color: #a9cef4;
}

#features article{
    width:30%;
    margin: 0em 1em;
}

#features article img{
    width:30%;
}

#features article h3, #cta h2, #formulario h2{
    font-family: 'Roboto Slab', serif;
}

#features article h3{
    margin:0.8em;
}

#features article p, #cta p, #formulario p, #formulario label, #formulario input{
    font-family: 'Syne', sans-serif;
}

#cta, #formulario{
    height: 50vh;
    background-color:#7ea0b7;
    flex-direction: column;
}

#cta p, #formulario p{
    margin: 1em;
}

#cta button, #formulario input, #formulario select, #formulario textarea, #formulario button{
    font-size: 1em;
    padding: 1em;
    background-color: #597081;
    color: black;
    border: none;
    border-radius: 0.5em;
    font-family: 'Syne', sans-serif;
}

#formulario input, #formulario select, #formulario textarea{
    width: 100%;
    margin: 1em 0em;
} 

::placeholder{
    color:black;
}

#cta button:hover, #formulario button:hover{
    background-color: black;
    color:white;
}

#formulario input:hover, #formulario select:hover, #formulario textarea:hover{
    background-color: white;
}

#formulario{
    height: 100vh;
    background-color: #a9cefa;
    flex-direction: unset;
}

#text{
    width: 30%;
    margin: 0em 4em;
    text-align: start;
}

#formu{
    width: 50%;
}

footer{
    height:7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0em 4em;
    background-color: #7ea0b7;
    font-family: 'Roboto Slab', serif;
}

footer img{
    width:4%;
}

footer p{
    text-align: end;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header nav img{
        width:10%;
    }

    #hero h1, #hero h2{
        text-align: center;
    }

    #features, #formulario{
        display: block;
    }

    #features article{
        padding:1em;
        width: fit-content;
        text-align: center;
        margin:0;
    }

    #features article img{
        width:20%;
    }

    #formulario{
        height: 110vh;
    }

    #formulario #text{
        width: fit-content;
        margin: 0em;
        padding: 1em 0em;
    }

    #formulario input, #formulario select, #formulario textarea{
        width: -webkit-fill-available;
    }

    #socials{
        width: 75%;
    }

    footer p{
        font-size: 0.7em;
    }

    footer img {
        width: 15%;
    }
}