*{
    margin:0;
    padding:0;
}

header{
    background-color: #d8315b;
    padding:1em;
}

header img{
    width:3%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Syne', sans-serif;
    padding:0em 2em;
}

header nav a{
    text-decoration: none;
    color:white;
    margin-left:2em;
}

header nav a:hover{
    background-color: #3e92cc;
    color:black;
    padding:0em 1em;
}

#hero{
    background-image: url("../img/header.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:93vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffaff;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

h1{
    font-size: 4em;
    font-family: 'Roboto Slab', serif;

    animation: blinker 3s cubic-bezier(0.42, 0, 0.74, 0.19) infinite;
}

#hero h2{
    font-family: 'Syne', sans-serif;
}

#features, #cta, #formulario{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #3e92cc;
    padding: 2em;
}

#features article{
    width:30%;
    margin: 0em 1em;
}

#features article img.uno{
    width:28%;
}

#features article img{
    width:30%;
}

#features article h3, #cta h2, #formulario h2{
    font-family: 'Roboto Slab', serif;
}

#features article h3{
    margin:0.8em;
}

#features article p, #cta p, #formulario p, #formulario label, #formulario input{
    font-family: 'Syne', sans-serif;
}

#cta{
    background-color:#d8315b;
    flex-direction: column;
}

#cta{
    flex-direction: row;
}

#cta img{
    width:15em;
}

#ctaText{
    flex-direction: column;
}

#cta p, #formulario p{
    margin: 1em;
}

#formulario input, #formulario select, #formulario textarea{
    font-size: 1em;
    padding: 1em;
    background-color: #fffaff;
    color: black;
    border: none;
    border-radius: 0.5em;
    font-family: 'Syne', sans-serif;
}

#cta button, #formulario button{
    font-size: 1.2em;
    padding: 1em;
    border: 2px solid #fffaff;
    background-color: transparent;
    color: #fffaff;
    font-family: 'Syne', sans-serif;
}

#formulario input, #formulario select, #formulario textarea{
    width: 100%;
    margin: 1em 0em;
} 

::placeholder{
    color:black;
}

#cta button:hover, #formulario button:hover{
    font-size: 1.25em;
    background-color: black;
    color:#fffaff;
}

#formulario input:hover, #formulario select:hover, #formulario textarea:hover{
    background-color: #fffaff;
}

#formulario{
    height: 100vh;
    background-color: #3e92cc;
    background-image: url("../img/form.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.error{
    color:red;
}

.respuesta_form{
    font-size: 1.5em;
}

#formu{
    width: 50%;
}

.loading_spinner{
    display: none;
}

footer{
    height:8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0em 2em;
    background-color: #d8315b;
    font-family: 'Roboto Slab', serif;
}

footer img{
    width:4%;
    margin-right: 2em;
}

footer p{
    text-align: end;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header nav{
        padding:0em;
    }
    
    header nav img{
        width:10%;
    }

    #hero h1, #hero h2{
        text-align: center;
    }

    #features, #formulario{
        display: block;
    }

    #features{
        height: 95vh;
    }

    #features article{
        padding:1em;
        width: fit-content;
        text-align: center;
        margin:0;
    }

    #features article img{
        width:20%;
    }

    #cta img{
        width:10em;
        margin:0em 1em;
    }

    #cta p{
        width:100%;
    }

    #formulario{
        height: 110vh;
    }

    #formulario #text{
        width: fit-content;
        margin: 0em;
        padding: 1em 0em;
    }

    #formulario #formu{
        width:100%;
    }

    #formulario input, #formulario select, #formulario textarea{
        width: -webkit-fill-available;
    }

    #socials{
        width: 75%;
    }

    footer p{
        font-size: 0.7em;
    }

    footer img {
        width: 15%;
        margin-right: 0em;
    }
}